#feature-1 {
	padding-top: 400px;
	margin-top: -400px;
}

#feature-1,
#feature-2 {
	background-color: #efefef
}

#cta-3 {
	padding: 50px 0;
}

#footer-2 {
	padding: 20px 0;
}

.faq-container {
	background-color: #efefef;
	border-radius: 5px;
	padding: 30px;
}

.keyboard-key {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dadc;
	border-bottom-color: #cdd2d4;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1);
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	color: #4d4d4d;
	cursor: default;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	margin: 0 5px 10px 0;
	padding: 6px 15px;
	float: right;
}

.black-background {
	background-color: #222222;
}

.section .blue-action {
	background-color: #4791df;
	color: white;
}

.section.red-white a {
	color: #4791df;
}

code {
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #4791df;
	padding: 0 5px;
}

@media (max-width: 768px) {
	#feature-1 {
		padding-top: 50px;
		margin-top: 0;
	}

	.browser {
		display: none;
	}
}

.note {
	margin: 15px;
	display: inline-block;
	background-color: #efefef;
	padding: 0 0 20px 0;
	border-radius: 5px;
	overflow: hidden;
}