.not-chrome {
  padding: 20px;
  display: none;
}

.inline-install {
  display: block;
  max-width: 350px;
  margin: auto;
}

#feature-1 {
	border-top: 150px solid #e41e35;
	padding-top: 250px;
	margin-top: -400px;
}

.pricing #feature-1 {
	border-top: 0;
	margin-bottom: 0;
	margin-top: -60px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.gradient-separator:before {
	background: #457bff;
	background: -moz-linear-gradient(right, #e41e35 0%, #4791df 200%);
	background: -webkit-linear-gradient(right, #e41e35 0%, #4791df 200%);
	background: linear-gradient(right, #e41e35 0%, #4791df 200%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e41e35', endColorstr='#4791df',GradientType=0 );
	border-radius: 2px;
	content: '';
	height: 4px;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 175px;
}

.pricing #feature-1 p {
	font-size: 16px;
}

.icon svg.bigger {
	max-height: 55%;
	max-width: 55%;
}

.gradient-bg {
	background: #e41e35; /* Old browsers */
	background: -moz-linear-gradient(top, #e41e35 0%, #4791df 200%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e41e35 0%, #4791df 200%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e41e35 0%, #4791df 200%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e41e35', endColorstr='#4791df',GradientType=0 ); /* IE6-9 */
	height: 100px;
	width: 100px;
}

.gradient-bg svg.svg-fill {
	fill: #fefefe;
}

.mb60 {
	margin-bottom: 60px;
}

#feature-2 {
	padding-bottom: 80px;
	padding-top: 50px;
}

#feature-1,
#feature-2 {
	background-color: #fefefe;
}

#cta-3 {
	padding: 50px 0;
}

#footer-2 {
	padding: 20px 0;
}

.section .inline-install.inline-added {
	background-color: #686868;
}

.faq-container {
	background-color: #efefef;
	border-radius: 5px;
	padding: 30px;
}

.keyboard-key {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dadc;
	border-bottom-color: #cdd2d4;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	color: #4d4d4d;
	cursor: default;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	margin: 0 5px 10px 0;
	padding: 6px 15px;
	float: right;
}

.black-background {
	background-color: #222222;
}

.section .blue-action {
	background-color: #4791df;
	color: white;
}

.section.red-white a {
	color: #4791df;
}

code {
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #4791df;
	padding: 0 5px;
}

.all-notes {
	padding-top: 30px;
	width: 100%;
}

.note {
	display: inline-block;
	margin: 20px 0;
	position: relative;
}

.note-body {
	background-color: #efefef;
	border-radius: 5px;
	height: 320px;
	padding: 0 0 20px 0;
	overflow: hidden;
}

.all-notes .note-body {
	cursor: pointer;
}

.note-details {
	font-size: 14px;
	padding: 10px;
}

.note-content {
	display: inline;
}

.note-created-at {
	bottom: 5px;
	color: #666;
	font-size: 11px;
	position: absolute;
	right: 30px;
	text-align: right;
}

.note .note-body .note-timestamp {
	color: #707070;
	margin-right: 4px;
	text-decoration: underline;
}

.all-notes.list-view .note {
	margin: 5px 0;
	max-width: 100%;
	width: 100%;
}

.all-notes.list-view .note-body {
	border-radius: 2px;
	height: 80px;
	padding: 0;
}

.all-notes.list-view .note .video-thumbnail {
	display: inline-block;
}

.all-notes.list-view .note .video-thumbnail img {
	height: 100%;
}

.all-notes.list-view .note-details {
	left: 16%;
	position: relative;
	top: -75px;
	width: 85%;
}

.all-notes.list-view .thumbtack-container {
	margin-left: 50px;
	margin-top: -30px;
	text-align: left;
}

.thumbtack-container {
	text-align: center;
}

.thumbtack-container img {
	height: 40px;
	margin-top: 20px;
}

.edit-actions {
	bottom: 0;
	height: 50px;
	left: 25px;
	cursor: pointer;
	position: absolute;
	width: 75px;
}

.edit-action {
	height: 100%;
	display: inline-block;
	width: 50%;
}

.edit-action:hover {
	opacity: .5;
}

.rn_link-button:hover {
	opacity: .8;
}

.edit-action img {
	height: 22px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
}

.filter-buttons {
	background-color: #e41e35;
	color: #fefefe;
	padding: 20px;
}

.filter-buttons.white {
	background-color: #fefefe;
	color: #222222;
}

#search-filter {
	border: 0;
	border-radius: 3px;
	font-size: 14px;
	height: 25px;
	outline: 0;
	padding: 5px 10px;
	width: 300px;
}

[tooltip]:before {
	position : absolute;
	content : attr(tooltip);
	opacity : 0;
	transition-duration: .2s;
	background: #fefefe;
	border-radius: 3px;
	-webkit-box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	color: #363941;
	white-space: nowrap;
	padding: 5px 10px;
	pointer-events: none;
	font-family: "Source Sans Pro",sans-serif;
	font-size: .87rem;
	text-align: center;
	margin-top: -1px;
	top: 100%;
	left: 75px;
	right: auto;
	transform: translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.19,1,0.22,1),opacity 0.2s cubic-bezier(0.19,1,0.22,1);
	z-index: 1;
	will-change: transform,opacity;
}

#note-share-date[tooltip]:before {
	left: 50%;
}

[tooltip]:hover:before {
	opacity: 1;
	pointer-events: inherit;
	transition-duration: .2s;
	transition-delay: .2s;
	transform: translate(-50%, -46px);
	z-index: 999;
}

#note-share-date[tooltip]:hover:before {
	transform: translate(-50%, 10px);
}

.rn_link-button[tooltip]:hover:before,
.rn_delete-button[tooltip]:hover:before {
	transform: translate(-40px, -65px);
}

.filter-button {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 20px;
}

.filter-buttons ul {
	width: 100%;
}

.filter-button.search {
	float: right;
}

.filter-button.current {
	text-decoration: underline;
}

#all-notes-section {
	min-height: 600px;
	padding: 0 0 50px 0;
}

#notes-header {
	padding-bottom: 0;
}

.rn_tag {
	color: #4791df;
	cursor: pointer;
}

.rn_tag:hover {
	color: #4ba4f6;
}

/*=== MODAL ===*/
.modal-container {
	background-color: rgba(0,0,0,.5);
	height:100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal-container .note {
	left: 50%;
	max-width: 480px;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 480px;
}

.modal-container .note .note-body {
	height: 480px;
}

.checklist-section {
	padding: 40px 0;
}

.checklist-section .container {
	margin-bottom: 40px;
}

/*=== RANDOM TWEAKS ===*/

code.fix {
	color: #e2a828;
}

.privacy p {
	margin: 10px 0;
}

.privacy ul,
.faq ol {
	margin-left: 40px;
}

.privacy .address-line {
	margin: 0;
}

.onboard-step img:first-child,
.onboard-step div:first-child {
	margin-top: 15px;
}

.onboard-step img {
	border-radius: 3px;
	-webkit-box-shadow: 4px 6px 14px 2px rgba(0, 0, 0, .1);
	box-shadow: 4px 6px 14px 2px rgba(0, 0, 0, .1);
	margin-bottom: 15px;
}

.onboard-step:last-of-type {
	background-color: #f6f6f6;
	margin-top: 30px;
}

.button-group-toggle .radio-toggle {
	display: none;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	margin: 4px 0 0;
	line-height: normal;
}

.button-group-toggle input[type=radio]:checked+label.button-toggle.green {
	background-color: #4791df;
	box-shadow: none;
	color: #fefefe;
}

.button-group-toggle .button-toggle.left {
	border-radius: 3px 0 0 3px;
}

.button-group-toggle .button-toggle.green {
	color: #4791df;
	width: 9rem;
}

.button-group-toggle .button-toggle {
	box-shadow: inset 0 0.1rem 0.5rem 0 rgba(0,0,0,.25);
	background-color: #fefefe;
	color: #ccc;
	padding: .5rem 0;
	text-align: center;
	width: 50%;
	font-family: roboto, serif;
	font-weight: 700;
}

.button-base, .button-base-no-extra-padding {
	border: 0;
	border-radius: 3px;
	color: #fefefe;
	cursor: pointer;
	display: inline-block;
	font-family: Montserrat,"Arial Black",Arial,sans-serif;
	margin-bottom: 2rem;
	transition: background-color .125s ease;
}

.button-group-toggle .button-toggle.right {
	border-radius: 0 3px 3px 0;
	display: inline-block;
	margin-left: -.5rem;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	color: #fefefe;
	font-weight: 300;
}

.pricing li {
	text-align: left;
}

.pricing .coming-soon {
	color: #a8a8a8;
}

.pricing .coming-soon.svg-fill {
	fill: rgba(228, 30, 53, 0.68);
}

.red-white .accent-bg {
	background-color: #4791df;
}

label[for="yearly"]::after {
	content: "SAVE 50% with yearly!";
	color: #e41e35;
	position: absolute;
	margin-left: 65px;
}

#coupon-bar {
	background-color: #ea532a;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	padding: 5px;
	text-align: center;
	z-index: 1000000;
	display: none;
}

#coupon-bar span,
#coupon-bar span a {
	color: #fefefe;
	font-weight: 700;
	cursor: pointer;
}

#coupon-bar .close-btn {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #fefefe;
	cursor: pointer;
	font-weight: bold;
}

/*=== SHARE NOTES ===*/

#player-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

#player-container iframe,
#player-container object,
#player-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.note-share-content {
	margin-top: 20px;
}

.note-share-date {
	color: #666666;
	font-size: 14px;
}

.text-center {
	text-align: center;
}

/*=== MEDIA QUERIES ===*/

@media (max-width: 768px) {
	#feature-1 {
		padding-top: 50px;
		margin-top: 0;
	}

	.browser {
		display: none;
	}

	label[for="yearly"]::after {
		color: #e41e35;
		position: absolute;
		margin-top: 35px;
		width: 200px;
		left: 50%;
		transform: translateX(-50%);
		margin-left: 0;
	}

	.button-group-toggle .button-toggle.right {
		margin-bottom: 40px;
	}
}
