#feature-1 {
	border-top: 150px solid #e41e35;
	padding-top: 250px;
	margin-top: -400px;
}

#feature-2 {
	padding-bottom: 80px;
	padding-top: 50px;
}

#feature-1,
#feature-2 {
	background-color: #fefefe;
}

#cta-3 {
	padding: 50px 0;
}

#footer-2 {
	padding: 20px 0;
}

.section .inline-install.inline-added {
	background-color: #686868;
}

.faq-container {
	background-color: #efefef;
	border-radius: 5px;
	padding: 30px;
}

.keyboard-key {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dadc;
	border-bottom-color: #cdd2d4;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	color: #4d4d4d;
	cursor: default;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	margin: 0 5px 10px 0;
	padding: 6px 15px;
	float: right;
}

.black-background {
	background-color: #222222;
}

.section .blue-action {
	background-color: #4791df;
	color: white;
}

.section.red-white a {
	color: #4791df;
}

code {
	background-color: #e6e6e6;
	border-radius: 3px;
	color: #4791df;
	padding: 0 5px;
}

.all-notes {
	padding-top: 30px;
	width: 100%;
}

.note {
	display: inline-block;
	margin: 20px 0;
	position: relative;
}

.note-body {
	background-color: #efefef;
	border-radius: 5px;
	cursor: pointer;
	height: 320px;
	padding: 0 0 20px 0;
	overflow: hidden;
}

.note-details {
	font-size: 14px;
	padding: 10px;
}

.note-content {
	display: inline;
}

.note-created-at {
	bottom: 5px;
	color: #666;
	font-size: 11px;
	position: absolute;
	right: 30px;
	text-align: right;
}

.note .note-body .note-timestamp {
	color: #707070;
	margin-right: 4px;
	text-decoration: underline;
}

.all-notes.list-view .note {
	margin: 5px 0;
	max-width: 100%;
	width: 100%;
}

.all-notes.list-view .note-body {
	border-radius: 2px;
	height: 80px;
	padding: 0;
}

.all-notes.list-view .note .video-thumbnail {
	display: inline-block;
}

.all-notes.list-view .note .video-thumbnail img {
	height: 100%;
}

.all-notes.list-view .note-details {
	left: 16%;
	position: relative;
	top: -75px;
	width: 85%;
}

.all-notes.list-view .thumbtack-container {
	margin-top: -30px;
}

.thumbtack-container {
	text-align: center;
}

.thumbtack-container img {
	height: 40px;
	margin-top: 20px;
}

.filter-buttons {
	background-color: #e41e35;
	color: #fefefe;
	padding: 20px;
}

.filter-buttons.white {
	background-color: #fefefe;
	color: #222222;
}

#search-filter {
	border: 0;
	border-radius: 3px;
	font-size: 14px;
	height: 25px;
	outline: 0;
	padding: 5px 10px;
	width: 300px;
}

[tooltip]:before {
	position : absolute;
	content : attr(tooltip);
	opacity : 0;
	transition-duration: .2s;
	background: #fefefe;
	border-radius: 3px;
	-webkit-box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	box-shadow: 0 7px 29px 5px rgba(0,0,0,0.08);
	color: #363941;
	white-space: nowrap;
	padding: 5px 10px;
	pointer-events: none;
	font-family: "Source Sans Pro",sans-serif;
	font-size: .87rem;
	text-align: center;
	margin-top: -1px;
	top: 100%;
	left: 75px;
	right: auto;
	transform: translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.19,1,0.22,1),opacity 0.2s cubic-bezier(0.19,1,0.22,1);
	z-index: 1;
	will-change: transform,opacity;
}

[tooltip]:hover:before {
	opacity: 1;
	pointer-events: inherit;
	transition-duration: .2s;
	transition-delay: .2s;
	transform: translate(-50%, -46px);
	z-index: 999;
}

.filter-button {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 20px;
}

.filter-buttons ul {
	width: 100%;
}

.filter-button.search {
	float: right;
}

.filter-button.current {
	text-decoration: underline;
}

#all-notes-section {
	min-height: 600px;
	padding: 0 0 50px 0;
}

#notes-header {
	padding-bottom: 0;
}

.rn_tag {
	color: #4791df;
	cursor: pointer;
}

.rn_tag:hover {
	color: #4ba4f6;
}

/*=== MODAL ===*/
.modal-container {
	background-color: rgba(0,0,0,.5);
	height:100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal-container .note {
	left: 50%;
	max-width: 480px;
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 480px;
}

.modal-container .note .note-body {
	height: 480px;
}

/*=== MEDIA QUERIES ===*/

@media (max-width: 768px) {
	#feature-1 {
		padding-top: 50px;
		margin-top: 0;
	}

	.browser {
		display: none;
	}
}